html, body {
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    font-family: Arial, sans-serif;
    background-color: #858886;
}

header, footer {
    background-color: #4b8a52;
    color: #053e01;
    padding: 10px;
    text-align: center;
}

header h1 {
    margin: 0;
}

footer p {
    margin: 0;
    font-size: 0.8em;
}

main {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin: 10px 0;
}